@import "tailwindcss";

/* document.body.style.margin = '0'
document.body.style.padding = '0'
document.getElementById('root').style.height = '100vh' */

#root {
  height: 100vh;
}


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}


.gimme-head-sm {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: 700;
}

.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #000000;
  color: #ffffff;
}
.button:hover {
  background-color: #ffffff;
  color: #000000;
}
.button-sm {
  border: solid 1px;
  padding: 8px 32px;
  margin: 4px 2px;
}
.button-md {
  border: solid 2px;
  padding: 16px 28px;
  margin: 6px 4px;
}
.button-lg {
  border: solid 2px;
  padding: 28px 32px;
  margin: 6px 4px;
}
.button-xl {
  border: solid 2px;
  padding: 36px 36px;
  margin: 6px 4px;
}


::-webkit-scrollbar {
  width: 2px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}


.roll{
  animation: spinMeRoundRound 1500ms linear infinite;
}
.anti-roll{
  animation: spinMeRoundRound 1500ms linear infinite reverse;
}

@keyframes spinMeRoundRound {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}